
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>book store</title>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
	    <h1 align="left"><img src='https://imageio.forbes.com/specials-images/imageserve/5f85be4ed0acaafe77436710/0x0.jpg?format=jpg&width=1200'
              <div class="col-sm-4">
	    <h1 style="text-align:center;color:red;">ONLINE BOOK STORE</h1></div></div>
            <div class="row">
              <div class="col-sm-1">
                    <a href="base.html" style="font-size:130%">Home</a></div>
              <div class="col-sm-1">
                    <a href="books.html" style="font-size:130%">books</a></div>
              <div class="col-sm-3">
                    
               <div class="col-sm-5">
        <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form></div>
               <div class="col-sm-2"><a href="index.html" style="font-size:130%">sign Up/Login</a></div>
    </div>
    </div>
        <div class="container">
            <div class="row">
                
                <div class="col-sm-4">
                    <img class="img-responsive" src="C:\Users\hanee\Desktop\proj\projectsai\static\I1.jpg"  alt="image" width="80%" height="60%">
                    <p class="text-center">Panchatantram</p>
                    <form oninput="x.value=parseInt(a.value)*parseInt(b.value)">
                        <input type="number" id="a" value="99" readonly><br>
                        +<input type="number" id="b" min=1 value="1">
                        =<output name="x" for="a b"></output>
                        <button type="button" class="btn btn-success">Buy</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="C:\Users\hanee\Desktop\proj\projectsai\static\I2.jpg"  alt="image" width="80%" height="60%">
                    <p class="text-center">Ponniyan Selvan</p>
                    <form oninput="x.value=parseInt(a.value)*parseInt(b.value)">
                        <input type="number" id="a" value="229" readonly><br>
                        +<input type="number" id="b" min=1 value="1">
                        =<output name="x" for="a b"></output>
                        <button type="button" class="btn btn-success">Buy</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" src="C:\Users\hanee\Desktop\proj\projectsai\static\I3.jpg"  alt="image" width="80%" height="60%">
                    <p class="text-center">Sherlock Holmes</p>
                    <form oninput="x.value=parseInt(a.value)*parseInt(b.value)">
                        <input type="number" id="a" value="399" readonly><br>
                        +<input type="number" id="b" min=1 value="1">
                        =<output name="x" for="a b"></output>
                        <button type="button" class="btn btn-success">Buy</button>
                    </form>
                </div>
                